/* general styling */
h1, h2, h3 {
  font-family: 'Magic Helvetica', 'Montserrat', sans-serif;
  color: gold;
}

h2 {
  color: rebeccapurple;
}

.about-section h2 {
  color: red;
}


/* nav bar */
nav {
  color: white;
  background-color: #4b2e83;
}

nav a {
  color: white;
}

main {
  display: flex;
}

/* about section */
/* the first child of the flexbox */
.about-section {
  background-color: #f8f8f8;
  flex-basis: 400px;
  margin-left: 1.5em;
  order: 2;
}

.about-section img {
  max-width: 150px;
}

.about-section p {
  padding-left: 1em;
  /* background-color: lightcyan; */
  margin-left: 1em;

}

/* topics cards */
.topics-section .card {
  border: 1px solid black;
  flex-grow: 1;
}

.card.card-firebase {
  flex-grow: 5;
}

.topics-section img {
  max-height: 150px;
}

/* .card.css-card img {
  width: 500px;
} */

.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


}

/* other */
footer {
  font-size: smaller;
}