* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: azure;
}

/* general styling */
h1, h2, h3 {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h1 {
  font-size: xx-large;
  color: darkgoldenrod;
}

h2 {
  color: rebeccapurple;
}

/* nav bar */
nav {
  color: white;
  background-color: #4b2e83;
  padding: .5rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
  width: 150px;
}

nav a {
  color: white;
}

/* main content (columns) */
main {
  display: flex;
}

/* about section */
.about-section {
  background-color: #f8f8f8;
  margin-left: 1.5em;
  flex-basis: 30%;
}

.about-section img {
  max-width: 150px;
}

/* topics cards */
.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.topics-section .card {
  border: 1px solid black;
  flex-grow: 1;
  text-align: center; /*for the h3 */
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topics-section img {
  max-width: 150px;
}

/* other */
footer {
  font-size: smaller;
}

/* rules apply to screens > 568px wide */
/* 568, 768, 992, 1200, 1400 */
/* @media (min-width: 568px) {

  body {
    background-color: lightpink;
  }

  .card {
    background-color: white;
  }
}

@media (min-width: 768px) {
  body {
    background-color: aquamarine;
  }

  .card-box {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .card {
    flex-basis: 33%;
  }
} */